/*GENERAL*/
body {
  background-color: #11473b;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

section {
  padding: 100px;
}

/*HEADER*/
header {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin: auto;
}
header h1 a{
  text-decoration: none;
  color: #eeeef7;
}
/*NAV MENU*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #eeeef7;
  position: fixed;
  width: 100%;
}

nav a {
  text-align: center;
  flex: 100%;
  line-height: 100px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: #11473b;
  color: #fff;
  font-size: 25px;
}

h1 {
  margin: 150px 0;
  text-decoration: none;
}

/* Bloc général */
.main-block {
  background-color: #fff;
  /* width: 1024p; */
  margin: 0 auto;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 80px;
}
p,
nav a,
h4,
h3,
h2,
li,
#contact a {
  color: #190f33;
}

p {
  line-height: 30px;
}

#education p,
#projects p,
#contact p,
footer p {
  text-align: center;
}

strong {
  font-weight: bold;
}

#main-image {
  height: 400px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

#education,
#contact {
  background-color: #eeeef7;
}

/* SECTION "ABAOUT ME" */
#about-me {
  display: flex;
  flex-direction: column;
}

#about-me img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fcc01a;
}

#profil-img {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-around;
}

#profil-img div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#profil-name {
  font-size: 38px;
  font-weight: bold;
  border-bottom: 50px;
}

#profil-city {
  font-size: 30px;
  font-style: italic;
}

#profil-txt h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: capitalize;
}

/* SECTION "EDUCATION" */
#education {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#education > * {
  margin-bottom: 80px;
}

#education h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.logos img {
  height: 100px;
}

/*SECTION PROJECTS*/
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.project:not(:last-child) {
  margin-bottom: 100px;
}

#projects p {
  margin-bottom: 100px;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 300px;
}

.project img {
  width: 500px;
  height: 280px;
  margin-right: 60px;
  border-radius: 10px;
}

.project div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

#projects h2 {
  font-size: 30px;
  text-align: center;
}

#projects h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

.txt-pojects {
  text-align: center;
}

#projects h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project li {
  line-height: 30px;
  list-style-type: disc;
}

.logo {
  height: 100px;
}
/*SECTION CONTACT*/
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

#contact img {
  height: 30px;
  margin-right: 20px;
}

#contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#contact a {
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}

#contact a:hover {
  color: #fff;
  background-color: #11473b;
}
/*FOOTER*/
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #fff;
  line-height: 40px;
}

footer a {
  color: #fcc01a;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  border-radius: 10px;
}

footer a:hover {
  color: #11473b;
  background-color: #fff;
}

header{
  
}